* {
    font-family: "Turret Road", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 3px;


}

main{
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: black;
    min-height: 100vh;
}

header.jumbotron {
    background-color: white;
    color: black;
    position: relative;
    overflow: hidden;
    padding: 60px 30px;
    margin-bottom: 0;
    border-radius: 0%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    opacity: 1;
    transition: opacity 0.5s ease;
    margin-top: 30px;
}

footer:hover {
    opacity: 0.9;
}


.nav-link {
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

main {
    color: rgb(0, 0, 0);
}

.list-group-item {
    color: #000000;
}

button.proj {
    border-radius: 25px;
    background-color: white;
    border: none;
    padding: 15px;
    color: black;
    margin-bottom: 0%;
    width: 150px;
    margin-top: 30px;
    transition: all 200ms;
    opacity: 0.7;
    outline: none;
}

button.proj:hover {
    opacity: 1;
    box-shadow: 0 0 20px 5px rgb(255, 255, 255);
}

.card {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    width: 800px;
}

.p1 {
    padding: 20px;
    text-align: center;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p1img {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

.container {
    text-align: center;
}

.p {
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 30px;
}

#about,
#skills,
#projects,
#education,
#contact {
    background-color: #000000;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.list-inline-item {
    transition: all 200ms;
}

.list-inline-item:hover {
    opacity: 0.5;
}

.navv {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    z-index: 1030;
}

html {
    scroll-behavior: smooth;
}

.list-group {
    border-radius: 10px;
}

.list-group-item {
    opacity: 0.9;
    transition: all 200ms;
}

.list-group-item:hover {
    opacity: 1;
}

ul li {
    margin: 10px;
    border-radius: 10px;
}

.ecol {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.list-inline-item {
    font-size: 30px;
}

.p {
    border: 1px solid;
    border-radius: 10px;
}

#skills ul {
    width: 500px;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divskl {
    display: flex;
    justify-content: center;
}

#backtotop{
    text-align: center;
}

#backtotop a{
    text-decoration: none;
    color: white;
    background-color: #000000;
    padding: 20px;
    border-radius: 7px;
    transition: all 200ms;
}

#backtotop a:hover{
    background-color: white;
    color: #000000;
    border: 1px solid;
}

#animated-heading{
    color: #000000;
    font-weight: bold;
}

 #animated-heading:hover{
    text-decoration: none;
    cursor: text;
 }